<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <!-- 부트스트랩 가져오기-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/def97ee41b.js" crossorigin="anonymous"></script>

    <!-- 우리 디자인 -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script defer th:src="@{/js/login.js}"></script>
</head>
<body>
    <div class="container">
        <div class="logo">
            <a href="../index.html" th:href="@{/}">
                <img src="../../static/images/resume.png" th:src="@{/images/resume.png}" alt="board">
            </a>
        </div>
        <h2>로그인</h2>
    </div>
    <div>
        <form th:action="@{/user/loginProc}" method="post">
            <label for="">아이디
                <input type="text" name="userId" id="userId" placeholder="아이디 입력">
            </label><br>
            <label for="">비밀번호
                <input type="password" name="userPwd" id="userPwd" placeholder="비밀번호 입력">
            </label><br>
            
            <th:block th:if="${error}">
                <div th:text="${errMessage}" style="font-size: 0.8em, color=red;"></div>
            </th:block>

            <div class="btns">
                <input type="submit" id="submitBtn" value="로그인" class="btn btn-primary">&nbsp;
            </div>
        </form>
    </div>
</body>
</html>